@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.hahmlet {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}